body{
  font-family: 'Open Sans', sans-serif;
}


:root{
  --main-bg-color:#E83E8C;
}

#nav{
  background-color: var(--main-bg-color);
}

#footer{
  background-color: var(--main-bg-color);

 } 


.navbar-brand img{
  width: 132px;
  height: 53px;
}

.navbar-nav li a{
  font-size: 16px;
  font-weight: 400;
}

section h1{
  color: #707070;
  font-weight: bold;
  font-size: 60px;
  
}

h5{
  font-size: 1rem;
}

.list-group-item{
  font-size: 10px;
}

.card-link{
  font-size: 10px;
}

.card-deck{
  margin: 0 0 0 10px;
}

p{
  font-size: 16px;
}

.icons-section{
  background-color:#17A2B8;
  height: 170px;
  margin-top: 118px;
}


h2{
  font-size: 40px;
  text-align: center;
}


footer{
  height: 184px;
}

footer img{
  height: 100px;
  margin: 30px 0 0 0 ;
}





@media screen and (max-width: 400px){
  #nav-mobile{
      margin-left: 6%;
      margin-right: 6%;
  }
      section h1{
        font-size: 35px;
      }
}


@media only screen and (max-width: 574px) {
  .container-flex {
    display: none !important;
   }
  }
  