
html {
  scroll-behavior: smooth;
}

body{
  font-family: 'Roboto Condensed', sans-serif !important;
}

h1, h2{
  font-family: initial;
}

h3 {
  font-family: 'Libre Baskerville', serif;
  font-weight: 500 !important;
  font-size: 4rem !important;
}

#mis_trabajos, footer{
  background-color: #138496;
}

#mis_trabajos{
  padding-top: 5rem;
  padding-bottom: 3rem;
}

.text-white {
  color: white;
}
#mi_foto{
  height: 830px;
}

#sobre_mi{
  margin-top: 17em;
}

#contacto{
  padding-top: 5rem;
}

.nav-lg{
  background-color: black;
}

.nav-lg a{
  color: white !important;
}

.title-wrap{
  position: relative;
  top: -520px;
}

.title-wrap h1{
  font-size: 6em;
  font-size: 6em;
  opacity: 70%;
}

.title-bkg{
  color: white;
  background: black;
  width: 50%;
  margin: auto;
}

.title-wrap h2{
  font-size: 5rem;
}

.footer-icon::before{
  font-size: 50px;
  margin-left: 5%;
}

.texto-about-me{
  padding: 10rem;
  padding-top: 4em;
  padding-bottom: 4em;
}

@media (min-width: 320px) and (max-width: 500px ) {
  #mi_foto {
    height: 200px;
  }
  .title-wrap{
    top: -66px;
  }
  .title-wrap h1{
    font-size: 2em;
  }
  .title-wrap h2{
    font-size: 1em;
  }
  .title-bkg{
    width: 70%;
  }
  h3{
    font-size: 2rem !important;
  }
  #mis_trabajos {
    padding-top: 2rem;
    padding-bottom: 2rem;
  }
  #contacto {
    padding-top: 2rem;
  }
}